.flag-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    padding: 2rem;
    margin: 2rem;
    border: 1px solid black;
}

.flag-container:hover {
    cursor: pointer;
}

.flag-container img {
    width: 100%;
    border: 1px solid #111;
}

.country-flag-details{
    font-size: 1.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0;
}

.country-name {
    font-size: 2rem;
    font-weight: bold;
}

.country-population, .country-region, .country-capital{
    margin-bottom: 0.3rem;
}

.country-population .label, .country-region .label, .country-capital .label{
    font-weight: bold;
}

.country-region, .country-capital{
    margin-top: 0.3rem;
}